:root {
  --colorWhite: #ffffff;
  --colorBlack: #070707;

  //* Primary

  --colorModerateblue: #5457b6;
  --colorSoftRed: #ed6368;
  --colorLightGrayishBlue: #c3c4ef;
  --colorPaleRed: #ffb8bb;

  //* Neutral

  --colorDarkBlue: #324152;
  --colorGrayishBlue: #67727e;
  --colorLightGray: #eaecf1;
  --colorVeryLightGray: #f5f6fa;

  --radius: 8px;
}
